/******/
/*BACK*/
/******/

body {
    margin: 0;
    background-color: linear-gradient(to bottom, #ffffff 20%, black 20%);
    width: 100%;
    height: 100%;
    position: fixed;
}


h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/******/
/*PAGE*/
/******/



.page {
    min-height: 100vh;
    background-image: url(../img/fond.png);
    background-repeat: no-repeat;
    background-size: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.bonjour {
    color: #ffffff;
    font-size: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: fadein 1s;
    text-shadow:0 15px 0 #212121;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.moitie{
    margin-bottom: 200px;
}

.bouton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: 0.4s;
    animation: fadein 1s;
}
.bouton:hover {
    transform: scale(1.1, 1.1);
}

.acceder {
    background-color: #ffffff;
    width: fit-content;
    padding: 16px 32px;
    border: 2px solid #212121;
    border-radius: 10px;
    box-shadow: 0 10px 0 #212121;
}
